<?php
    $connection = pg_connect ("host={{ login_host }} dbname={{ db_name }} user={{  login_user }} password={{ login_password }}");
    if($connection) {
       echo 'connected as {{  login_user }} to database {{ db_name }} to amazon db_instance {{ login_host }}';
    } else {
        echo 'there has been an error connecting';
    }
?>
